
@font-face {
    font-family: 'testSöhneSchmal';
    src: url('../public/assets/font/TestSöhneSchmal-Dreiviertelfett.otf') format('truetype');
}
/* @font-face {
    font-family: 'maisonNeue';
    src: url('../public/assets/font/Maison-Neue-Book.ttf') format('truetype');
} */

@font-face {
    font-family: "Maison Neue";
    src: url('../public/assets/font/Maison-Neue.ttf') format("truetype");
}

@font-face {
    font-family: "MaisonNeueDemi";
    src: url('../public/assets/font/MaisonNeue-Demi.ttf') format("truetype");
}

@font-face {
    font-family: "MaisonNeueMedium";
    src: url('../public/assets/font/MaisonNeue-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "MaisonNeueBook";
    src: url('../public/assets/font/Maison-Neue-Book.ttf') format("truetype");
}

@font-face {
    font-family: "MaisonNeueMono";
    src: url('../public/assets/font/Maison-Neue-Mono.ttf') format("truetype");
}

@font-face {
    font-family: "MaisonNeueLight";
    src: url('../public/assets//font/MaisonNeue-Light.ttf') format("truetype");
}

body {
    font-family: 'Maison Neue', sans-serif;
}
