@font-face {
    font-family: "testSöhneSchmal";
    src: url('../public/assets/font/sohne-schmal-fett.woff2') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "testSöhneSchmal";
    src: url('../public/assets/font/soehne-schmal-dreiviertelfett.woff2') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MaisonNeueDemi";
    src: url('../public/assets/font/MaisonNeue-Demi.ttf') format("truetype");
}

@font-face {
    font-family: "MaisonNeueMedium";
    src: url('../public/assets/font/MaisonNeue-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "MaisonNeueBook";
    src: url('../public/assets/font/Maison-Neue-Book.ttf') format("truetype");
}

@font-face {
    font-family: "MaisonNeueMono";
    src: url('../public/assets/font/Maison-Neue-Mono.ttf') format("truetype");
}

@font-face {
    font-family: "MaisonNeueLight";
    src: url('../public/assets//font/MaisonNeue-Light.ttf') format("truetype");
}

body {
    font-family: 'Maison Neue', sans-serif;
}


.swiper-button-next {
    background: transparent !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '' !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: white !important;
    border-radius: 0 !important;
    margin-left: 14px !important;
    margin-right: 14px !important;
}

.thumbnail-image {
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
}

.swiper-slide-active .thumbnail-image {
    opacity: 1;
}