@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-pagination .swiper-pagination-bullet-active::after {
    content: '' !important;
    background-color: rgba(255, 255, 255, 0.30) !important;
    width: 7px !important;
    height: 7px !important;
    margin-bottom: 12px;
}

.custom-pagination .swiper-pagination-bullet-active {
    background-color: white !important;
}


@media (min-width:640px) and (max-width:1389.99px) {
    .yellow-circle {
       left: 0 !important;
       max-width: 220px;
    }

    .green-circle {
        right: 0 !important;
        max-width: 150px;
    }
}

@media (min-width:1390px) {
    .yellow-circle {
        left: -5% !important;
    }

    .green-circle {
        right: -5% !important;
    }
}
